{%extends 'base1.html '%}

{%block body%}
<center>
<form action="" method="post" style="margin-top:200px;">
  {% csrf_token %}
    <div class="edho fortext">
    <b>  Faculty:</b>
      <input type="text" name="username" value="{{username}} " readonly>
    </div>
<div class="edho fortext">
{{form}}
</div>

    <button class="button btn btn-primary btn-lg" style="margin-top:30px;" type="submit" name="button">Submit</button>
</form>
</center>
{% block style %}
<style>
  .edho{
    padding-bottom:45px;
    padding-top:5px;
  }
  .fortext{
    font-family:Comic Sans MS;
    font-size:25px;
  }
</style>
{% endblock style %}
{% endblock body%}
