{% extends 'base1.html' %}

{% block body%}
<form   method="post">
  {%for i in Lab%}
  <a href="{% url 'booklab' i.id %}"><button class="button btn btn-primary left" type="button" name="button" data-inline="true">{{i.lab_id}}</button>
  </a>
  <br>
  <br>
  {%endfor%}
</form>
{% block style %}
  <style>
    .left{
     margin-top:60px;
      margin-left:600px;
      width:150px;
      display:inline !important;
      float:left !important;
    }
  </style>

  {% endblock style %}
{% endblock body%}
